html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;}

body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container { 
    width: 80%;
    margin: 0.8em auto;
}


.header-main #logo{
    height: 4em;
    width: 10em;
    background-repeat: no-repeat;
    background-size: contain; 
    margin-bottom: 1em;
    border-right: 1px solid lightgrey;
    padding-right: 1em;
}

nav {
    padding: 1.5em 0;
}

nav a {
    padding-right: 1em;
    text-decoration: none; 
    color: gray;
}

.jumbotron {
    height: 20em;
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 1em;
}

.jumbotron .inside_text {
    padding-top: 20em;
    padding-left: 3em;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

.thin {
    font-size: 0.5em;
}

.article {
    width: 100%;
    background-color: rgb(0,134,255);
     margin-bottom: 0.5em;
}

.riga_header {
    height: 5em;
    background-color: rgb(171,207,231);
}

.col_center {
    height: 30em;
    width: 44%;
    margin: 2em;
}

.col_left, .col_right {
    height: 30em;
    width: calc(28% - 2em);
    margin-bottom: 2em;
    margin-top: 2em
}

[class*="col_"] {
    float: left;
    background-color: rgb(171,207,231);

}

.footer {
    height: 3em;
    background-color: rgb(136,1,254);
}